body{
	background:url("https://c.pxhere.com/photos/f4/4a/summer_sunset_meadow_nature_landscape_sun_abendstimmung_grass-1407864.jpg!d");
	font-family: 'Special Elite', cursive;
	background-size: cover;
	background-position: center;
	color: white;
	text-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

a{
	padding-top: 3.5%;
}


.navbar-default .navbar-brand{
	color:black;
	padding-top: 7.45%;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}






h1{
	font-size: 3em;
}

.navbar-default{
	background:rgba(204, 204, 204, 0.5); 
}



html{
	height:170%;
}

hr{
	width: 350px;
}
#c{
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 2px 3px rgba(0,0,0,0.5);
	color:white;
}

#d{
	text-align: center;
	padding-bottom:25%;
	text-shadow: 0px 2px 3px rgba(0,0,0,0.5);
	color:white;
}
